# Symfony

src/TimeBox-website/app/bootstrap*
src/TimeBox-website/vendor/*
src/TimeBox-website/*/logs/*
src/TimeBox-website/*/cache/*
src/TimeBox-website/web/uploads/*
src/TimeBox-website/web/bundles/*
src/TimeBox-website/app/config/parameters.ini
src/TimeBox-website/app/config/parameters.yml
