/* Global
-------------------------------------------------------------- */
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.fRight {
	float: right;
}
.fLeft {
	float: left;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
-------------------------------------------------------------- */
header {
	height: 100px;
	line-height: 100px;
}
header div img {
	display: inline-block !important;
	vertical-align: middle !important;
}

header div.userInfos span,
header div.userInfos a {
	display: inline-block;
	margin-right: 30px;
}

.header_idbox {
	float: right;
}

div.storage {
    width: 150px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
}
div.storage .bar {
    position: relative;
    height: 7px;
    background-color: #ddd;
}
div.storage p {
    margin: 0 0 3px 0;
}
div.storage .bar div {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #56aae3;
    width: 1%;
    height: 7px;
}


/* Home page
-------------------------------------------------------------- */
div.titleContainer {
	width: 100%;
	height: 300px;
	background-image: url('../img/background1.png');
	background-repeat: repeat-x;
	background-position: center;
}
div.titleContainer h1 {
	margin: 0px;
	padding: 0px;
	padding-top: 133px;
	font-family: 'Ubuntu';
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: white;
}

ul.functionality {
	margin: 30px auto;
	text-align: center;
}
ul.functionality li {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	margin: 10px 50px;
}
ul.functionality li img {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
}
ul.functionality li span {
	display: block;
	margin: 10px 0px;
	font-family: 'Ubuntu';
	font-size: 15px;
	font-weight: 500;
}
ul.functionality li p {
	display: block;
	font-size: 12px;
}
div.connection {
	width: 42%;
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #e6e6e6;
	margin: 10px;
	text-align: center;
}
@media screen and (max-width: 799px) {
	div.connection {
		width: auto;
		margin: 0px 10px;
		display: block;
		border: 1px solid #e6e6e6;
		margin: 10px;
		text-align: center;
	}
}
div.connection h3 {
	text-align: center;
}

div.connection .loginForm,
div.connection .registerForm {
	text-align: center;
}
div.connection .loginForm div.form-group,
div.connection .registerForm div.form-group {
	margin: 15px auto;
	width: 240px;
}
div.connection .loginForm a.headerLink {
	font-size: 12px;
}


.bottom {
	margin-bottom: 300px;
}

/* Navigation menu
-------------------------------------------------------------- */
#menu {
	margin: 20px;
}

#menu ul li {
	float: left;
	margin-right: -1px;
}

#menu ul li a {
	border: 1px solid #DDD;
	display: block;
	color: black;
	font-family: "Ubuntu";
	font-size: 1em;
	padding: 10px 20px;
}

#menu ul li a:hover {
	background: #EEE;
	text-decoration: none;
}

#menu ul li a:active {
	color: #AAA;
}


/* User profile
-------------------------------------------------------------- */
table.userProfile {
	border: 1px solid #ddd;
	width: 500px;
}


/* File
-------------------------------------------------------------- */
div.actions {
	width: 200px;
	float: left;
}
div.actions ul li {
	font-family: "Ubuntu";
	font-size: 12px;
	display: block;
	height: 26px;
	line-height: 26px;
}
div.actions ul li img {
	vertical-align: -5px;
	margin-right: 5px;
}
div.actions ul li img.shareIcon {
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 2px;
}
div.actions ul li.FileRelatedAction {
	display: block;
}
div.actions ul li a {
	display: inline-block;
}

table.file {
	width: 500px;
	float: left;
}
table.file .driveBreadcrumb ul {
	margin:0px;
	padding:0px;
}
table.file .driveBreadcrumb ul li {
	background-image: url('../img/bullet.png');
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 10px;
	display: inline;
}
table.file .driveBreadcrumb,
table.file .driveBreadcrumb a {
	color: #2a4b5c;
}
table.file thead {
	background-color: #cfe8f5;
}
table.file tr {
	border: 1px solid #d1d1d1;
	/* disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table.file tr:hover {
	cursor: default;
}
table.file th {
	font-weight: normal;
	text-transform: uppercase;
	border: 1px solid #d1d1d1;
}
table.file th,
table.file td {
	padding: 10px;
	font-size: 13px;
	font-family: "Ubuntu";
	line-height: 18px;
	height: 100%;
	vertical-align: middle;
}
table.file thead th,
table.file thead td {
	padding: 5px 10px;
	font-size: 12px;
}
table.file img {
	display:block;
}
table.file .fileType {
	width: 20px;
	padding: 0px;
	padding-right: 6px;
	border-right: none;
	border-left: none;
}
table.file .fileCheckbox {
	width: 30px;
	text-align: center;
	border-right: none;
	vertical-align: middle;
	height: 100%;
}
table.file td.checkboxImg {
	background-image: url('../img/checkbox.png');
	background-position: center center;
	background-repeat: no-repeat;
}
table.file tr.selected td.checkboxImg {
	background-image: url('../img/checkbox_checked.png');
	cursor: pointer;
}
table.file .checkboxImg:hover {
	background-image: url('../img/checkbox_hover.png');
	cursor: pointer;
}
table.file tr.selected td.checkboxImg:hover {
	background-image: url('../img/checkbox_checked_hover.png');
}
table.file .fileTitle {
	padding-left: 0px;
	border-left: none;
}
table.file .size,
table.file .lastEdit {
	width: 100px;
	text-align: center;
}
table.file tr.selected {
	background: #F4E0FF;
	background: linear-gradient(to top, #F2DAFF 0%, #F6E7FF 100%);
}
table.file ul.version {
	margin:0px;
	margin-bottom:10px;
	background-image: url('../img/version_ul_bg.png');
	background-position: 11px center;
	background-repeat: repeat-y;
}
table.file ul.version li {
	background-image: url('../img/version_bullet.png');
	background-position: left 13px;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 18px;
	display: block;
	line-height: 40px;
}
table.file ul.version li.selected {
	background-image: url('../img/version_bullet_selected.png');
}
table.file ul.version table {
	position: relative;
	width: 100%;
	border: none;
}
table.file ul.version table tr {
	border: none;
}
table.file ul.version table td {
	padding: 10px 0px;
	font-size: 13px;
	font-family: "Ubuntu";
	line-height: 18px;
	height: 100%;
	vertical-align: top;
}
table.file ul.version .versionId {
	width: 34px;
	padding-right: 5px;
}
table.file ul.version .description {
	text-align: left;
}
table.file tr.version td {
	padding: 0px;
}

form.move div {
	width: 500px;
	overflow: auto;
	margin: 20px;
}
ul.folderTree {
	float: left;
	min-width: 500px;
	border: 1px solid #ddd;
	border-top: none;
}
ul.folderTree li {
	border-top: 1px solid #ddd;
	margin-top: 0px;
	padding: 10px 20px;
	font-size: 12px;
	font-family: 'Ubuntu';
	display: block;
}
ul.folderTree li.selected {
	background: #F4E0FF;
	background: linear-gradient(to top, #F2DAFF 0%, #F6E7FF 100%);
}