/* Global
-------------------------------------------------------------- */
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.fRight {
	float: right;
}
.fLeft {
	float: left;
}
.defaultPadding {
	padding: 0px 20px;
}
.wrapper {
	margin: 0 auto;
	padding: 0px;
	background-color: #eef2f5;
	min-height: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(34, 34, 34,0.3);
    box-shadow: 0px 1px 3px rgba(34, 34, 34,0.3);
}

em {
	font-style: italic;
	color: #6B9EBB;
}

html, body {
	height: 100%;
	background-color: #cad5d7;
}
body {
	min-width: 380px;
}

/* Header
-------------------------------------------------------------- */
header {
	line-height: 100px;
	background-color: #142B41;
}
header div img {
	display: inline-block !important;
	vertical-align: middle !important;
	margin-left: 10px;
	color: #fff;
}

header div.userInfos {
	height: 100px;
	padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
	header div.userInfos{
		height: 200px;
	}
}
header div.userInfos span,
header div.userInfos a {
	margin-left: 15px;
	margin-right: 15px;
}
header div.userInfos span,
header div.userInfos div.storage p {
	color: #7E828F;
}

div.storage {
	display: inline-block;
	width: 75%;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	margin: 15px 30px 0;
}
div.storage .bar {
	position: relative;
	height: 7px;
	background-color: #ddd;
}
div.storage p {
	margin: 0 0 3px 0;
}
div.storage .bar div {
	top: 0px;
	left: 0px;
	position: absolute;
	background-color: #56aae3;
	width: 1%;
	height: 7px;
}

div.infos,
div.buttons {
	text-align: center;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
div.buttons .btn {
	min-width: 35%;
	max-width: 55%;
	opacity: 0.8;
	padding: 5px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}


/* Home page
-------------------------------------------------------------- */
@media screen and (max-width : 480px) {
	header div.fLeft,
	header div.fRight {
		text-align: center;
		width: 100%;
	}
}

#connectionButton {
	margin-right: 10px;
}

div.titleContainer {
	width: 100%;
	height: 300px;
	background-image: url('../img/background1.png');
	background-repeat: repeat-x;
	background-position: center;
	margin-bottom: 30px;
}
div.titleContainer h1 {
	margin: 0px;
	padding: 0px;
	padding-top: 133px;
	font-family: 'Ubuntu';
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: white;
}

@media screen and (max-width: 320px){
	ul.functionality {
		display: none;
	}
}
ul.functionality {
	margin: 0 auto 30px;
	text-align: center;
}
ul.functionality li {
	display: inline-block;
	vertical-align: top;
}
ul.functionality li img {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
}
ul.functionality li span {
	display: block;
	margin: 10px 0px;
	font-family: 'Ubuntu';
	font-size: 15px;
	font-weight: 500;
}
ul.functionality li p {
	display: block;
	font-size: 12px;
}
div.connection {
	vertical-align: top;
	border: 1px solid #e6e6e6;
	text-align: center;
	margin-bottom: 30px;
}
div.connection h3 {
	text-align: center;
}

div.connection .loginForm,
div.connection .registerForm {
	text-align: center;
}
div.connection .loginForm div.form-group,
div.connection .registerForm div.form-group {
	margin: 15px auto;
	width: 75%;
}
div.connection .loginForm a.headerLink {
	font-size: 12px;
}

div.frame > div > div {
	background-color: #fff;
}

.bottom {
	margin-bottom: 300px;
}

/* Navigation menu
-------------------------------------------------------------- */
#menu {
	margin-bottom: 20px;
	padding: 30px 10px 0px 10px;
	border-bottom: 1px solid #ddd;
	background-color: #F5EEEA;
}

#menu ul {
	margin-bottom: -1px;
}
#menu ul li.active a {
	background-color: #eef2f5 !important;
	border-bottom: 1px solid #eef2f5;
}
#menu ul li a {
	display: block;
	color: black;
	font-family: "Ubuntu";
	font-size: 1em;
}
#menu ul li a:hover {
	color: #2A4B5C;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

/* User profile
-------------------------------------------------------------- */
table.userProfile {
	border: 1px solid #ddd;
	width: 500px;
}
table.userProfile tr,
table.userProfile td,
table.userProfile th {
	background-color: #fff;
}


/* File
-------------------------------------------------------------- */
div.actions ul {
	border: 1px solid #e4f2f9;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px 10px 5px;
}
div.actions ul li {
	font-family: "Ubuntu";
	font-size: 12px;
	display: block;
	height: 26px;
	line-height: 26px;
}
div.actions ul .title {
	color: #999;
	font-size: 15px;
}
div.actions ul li:not(.title) {
	padding-left: 10px;
}

@media screen and (max-width: 991px){
	div.actions ul li:not(.title) {
		display: inline-block;
		float: left;
	}
	div.actions {
		margin-bottom:28px;
	}
}
div.actions ul li img {
	vertical-align: -5px;
	margin-right: 5px;
}
div.actions ul li img.shareIcon {
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 2px;
}
div.actions ul li.FileRelatedAction {
	display: block;
}
div.actions ul li a {
	display: inline-block;
}
div.linkActions ul {
	width: 100%;
}
div.linkActions ul li {
	display: inline-block !important;
	padding-left: 10px;
}
table.link {
	width: 100%;
}
table.file {
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
}
table.file .driveBreadcrumb ul {
	margin:0px;
	padding:0px;
}
table.file .driveBreadcrumb ul li {
	background-image: url('../img/bullet.png');
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 10px;
	display: inline;
}
table.file .driveBreadcrumb,
table.file .driveBreadcrumb a {
	color: #2a4b5c;
}
table.file thead {
	background-color: #cfe8f5;
}
table.file thead tr {
	border-bottom: none;
}
table.file tr,
table.link tr {
	border-bottom: 1px solid #d1d1d1;
	/* disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
table.file tr:hover,
table.link tr:hover {
	cursor: default;
}
table.file th,
table.link th {
	font-weight: lighter;
	text-transform: uppercase;
	color: #719DAB;
}
table.file th,
table.file td,
table.link td,
table.link th {
	padding: 10px;
	font-size: 13px;
	font-family: "Ubuntu";
	line-height: 18px;
	height: 100%;
	vertical-align: middle;
}
table.file thead th,
table.file thead td {
	padding: 5px 10px;
	font-size: 12px;
}
table.file img {
	display:block;
}
table.file .fileType,
table.link .fileType {
	width: 20px;
	padding: 0px;
	padding-right: 6px;
	border-right: none;
	border-left: none;
}
@media screen and (max-width: 320px){
	table.file .fileType,
	table.link .fileType {
		display: none;
	}
}
table.file .fileCheckbox,
table.link .fileCheckbox {
	width: 30px;
	text-align: center;
	border-right: none;
	vertical-align: middle;
	height: 100%;
}
table.file td.checkboxImg,
table.link td.checkboxImg {
	background-image: url('../img/checkbox.png');
	background-position: center center;
	background-repeat: no-repeat;
}
table.file tr.selected td.checkboxImg,
table.link tr.selected td.checkboxImg {
	background-image: url('../img/checkbox_checked.png');
	cursor: pointer;
}
table.file .checkboxImg:hover,
table.link .checkboxImg:hover {
	background-image: url('../img/checkbox_hover.png');
	cursor: pointer;
}
table.file tr.selected td.checkboxImg:hover,
table.link tr.selected td.checkboxImg:hover {
	background-image: url('../img/checkbox_checked_hover.png');
}
table.file .fileTitle {
	padding-left: 0px;
	border-left: none;
	word-break: break-all;
}
table.link .fileTitle {
	border-left: none;
}
table.file .size,
table.file .lastEdit,
table.link .size,
table.link .lastEdit {
	width: 180px;
	text-align: center;
}
table.file tr.selected,
table.link tr.selected {
	background: #feefb5;
	background: linear-gradient(to top, #feedaa 0%, #fef1bd 100%);
}
table.file ul.version {
	margin:0px;
	margin-bottom:10px;
	background-image: url('../img/version_ul_bg.png');
	background-position: 11px center;
	background-repeat: repeat-y;
}
table.file ul.version li {
	background-image: url('../img/version_bullet.png');
	background-position: left 13px;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 18px;
	display: block;
	line-height: 40px;
}
table.file ul.version li.selected {
	background-image: url('../img/version_bullet_selected.png');
}
table.file ul.version table {
	position: relative;
	width: 100%;
	border: none;
}
table.file ul.version table tr {
	border: none;
}
table.file ul.version table td {
	padding: 10px 0px;
	font-size: 13px;
	font-family: "Ubuntu";
	line-height: 18px;
	height: 100%;
	vertical-align: top;
}
table.file ul.version .versionId {
	width: 34px;
	padding-right: 5px;
}
table.file ul.version .description {
	text-align: left;
}
table.file ul.version .comment {
	display: inline-block;
	vertical-align: -5px;
	padding: 0px 2px;
}
table.file tr.version td {
	padding: 0px;
}

form.move div {
	overflow: auto;
	margin: 20px;
}
div.folderTree {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 2px;
}
div.folderTree div {
	margin: 0;
	font-size: 12px;
	font-family: 'Ubuntu';
}
div.folderTree div.collapse {
	margin: 0;
}
div.folderTree p.folder {
	border-radius: 3px;
	display: inline-block;
	margin: 2px;
	min-width: 200px;
	padding: 10px 20px;
}
div.folderTree p.folder:hover {
	border: 1px solid #ddd;
	padding: 9px 19px;
}
div.folderTree p.selected {
	background: #F4E0FF;
	background: linear-gradient(to top, #F2DAFF 0%, #F6E7FF 100%);
	border: 1px solid #ddd;
	padding: 9px 19px;
}
div.folderTree div .btn {
	margin: 5px;
}

.modal-header {
	background-color: #F7F7F9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Copy clipboard
-------------------------------------------------------------- */
.copy {
	position: relative;
	display: inline-block;
	height: 22px;
}
.hover {
	text-decoration: none;
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.zclip {
	top: auto !important;
	margin-top: -22px !important;
}
