/* Global
-------------------------------------------------------------- */
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.fRight {
	float: right;
}
.fLeft {
	float: left;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header
-------------------------------------------------------------- */
header div.userInfos span,
header div.userInfos a {
	display: block;
}

.header_idbox {
	background: #DDD;
	border-radius: 0 0 10px 10px;
	float: right;
}

.header_idbox_links {
	padding-top: 16px;
}

.header_idbox_links a {
	font-size: smaller;
	padding: 7px 0;
}

/* Navigation menu
-------------------------------------------------------------- */
#menu {
	margin: 20px;
}

#menu ul li {
	float: left;
	margin-right: -1px;
}

#menu ul li a {
	border: 1px solid #DDD;
	display: block;
	color: black;
	font-family: "Ubuntu";
	font-size: 1em;
	padding: 10px 20px;
}

#menu ul li a:hover {
	background: #EEE;
	text-decoration: none;
}

#menu ul li a:active {
	color: #AAA;
}

/* File
-------------------------------------------------------------- */
div.actions {
	width: 200px;
	float: left;
}
div.actions ul li {
	font-family: "Ubuntu";
	font-size: 12px;
	display: block;
	height: 26px;
	line-height: 26px;
}
div.actions ul li img {
	vertical-align: -5px;
	margin-right: 5px;
}
div.actions ul li img.shareIcon {
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 2px;
}
div.actions ul li.FileRelatedAction {
	display: block;
}
div.actions ul li a {
	display: inline-block;
}

table.file {
	width: 500px;
	float: left;
}
table.file .driveBreadcrumb ul {
	margin:0px;
	padding:0px;
}
table.file .driveBreadcrumb ul li {
	background-image: url('../img/bullet.png');
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 10px;
	display: inline;
}
table.file .driveBreadcrumb,
table.file .driveBreadcrumb a {
	color: #2a4b5c;
}
table.file thead {
	background-color: #cfe8f5;
}
table.file thead tr {
	height:28px;
}
table.file tr {
	border: 1px solid #d1d1d1;
}
table.file th {
	font-weight: normal;
	text-transform: uppercase;
	border: 1px solid #d1d1d1;
}
table.file th,
table.file td {
	padding: 10px;
	font-size: 13px;
	font-family: "Ubuntu";
}
table.file thead th,
table.file thead td {
	padding: 5px 10px;
	font-size: 12px;
}
table.file .fileType {
	width: 20px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 6px;
	border-right: none;
}
table.file .fileTitle {
	padding-left: 0px;
	border-left: none;
}
table.file .size,
table.file .lastEdit {
	width: 100px;
	text-align: center;
}
table.file tr.selected {
	background: #dbeff9;
	background: linear-gradient(to top, #cfe8f5 0%, #ebf8ff 100%);
}
table.file ul.version {
	margin:0px;
	background-image: url('../img/version_ul_bg.png');
	background-position: 11px center;
	background-repeat: repeat-y;
}
table.file ul.version li {
	background-image: url('../img/version_bullet.png');
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 18px;
	display: block;
	line-height: 40px;
}
table.file ul.version li.selected {
	background-image: url('../img/version_bullet_selected.png');
}
table.file tr.version td {
	padding-top: 0px;
	padding-bottom: 0px;
}
table.file tr.version ul {
	margin-bottom:10px;
}
table.file ul.versionInfos {
	display: block;
	line-height: 40px;
}