{% extends "TimeBoxUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="defaultPadding">
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
</div>
{% endblock fos_user_content %}
