{% extends "TimeBoxUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

    <h3>Request new password</h3>

    <div class="col-xs-6 col-sm-4">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                {% endif %}
                <label  class="sr-only" for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Username or email" required="required" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
    </div>

{% endblock fos_user_content %}
