{% macro folderTree(folders, id, cpt, max) %}
    {%- for folder in folders -%}
        {%- if folder.parent is not null and folder.parent.id == id -%}
            <li data-id="{{ folder.id }}" style="padding-left: {{ 20 + 20 * (max - cpt + 1) }}px;" >
                {{- folder.name -}}
            </li>
            {% if cpt > 0 -%}
                {{ _self.folderTree(folders, folder.id, cpt-1, max) }}
            {% endif -%}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}
