{% import 'TimeBoxMainBundle:Macro:folderTree.html.twig' as macros %}

<h3>Enter the new name</h3>

<div class="col-xs-6 col-sm-4">
    <form class="rename" action="{{ path('time_box_main_file_rename') }}" method="post">
        <div class="form-group">
            <input class="form-control" placeholder="Name" name="newName" value=""/>
            <input type="hidden" name="filesId" value="{{ filesId }}"/>
            <input type="hidden" name="foldersId" value="{{ foldersId }}"/>
            <input type="hidden" name="currentFolderId" value="{{ folderId }}"/>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Ok"/>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("form.rename").submit(function() {
        var fileName = $("input[name=newName]").val();
        var pattern = new RegExp("^[a-zA-Z0-9_\-]+$") ;
        if (!pattern.test(fileName)) {
            alert("Error in the name !");
            return false;
        }
    });
</script>