<header>
    <div class="fLeft">
        <a href="{{ path('time_box_main_homepage') }}"><img src="{{ asset('img/logo.png') }}" class="img-responsive" alt="logo" /></a>
    </div>
    <div class="fRight">
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="userInfos">
            <span>Logged in as {{ app.user.username }}</span>
            <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Log out</a>
        </div>
    </div>
    {% endif %}
    <div class="clear"></div>
</header>
