<div id="menu" class="main_menu">
    <ul>
        <li>
            <a href="#">Files</a>
        </li>
        <li>
            <a href="#">Recycle Bin</a>
        </li>
        <li>
            <a href="#">Links</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
    </ul> 
</div>
