<div id="menu">
    <ul>
        <li>
            <a href="{{ path('time_box_main_file') }}">Files</a>
        </li>
        <li>
            <a href="{{ path('time_box_main_file_deleted') }}">Recycle Bin</a>
        </li>
        <li>
            <a href="#">Links</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Profile</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
