<div>
    <form class="new" action="{{ path('time_box_main_folder_new') }}" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="folderName" placeholder="Name" required autofocus />
            <input type="hidden" name="folderParent" value="{{ parentFolderId }}" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Ok" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $("form.new").submit(function() {
        var folderName = $("input[name=folderName]").val();
        var pattern = new RegExp("^[a-zA-Z0-9_\-]+$") ;
        if (!pattern.test(folderName)) {
            alert("Error in the folder name !");
            return false;
        }
    });
</script>
