<form action="" method="post">
    <select name="moveFolderId" multiple="multiple">
        <ul class="folder">
        {% for folder in folders %}
            <li>
                <option value="">{{ folder.name }}</option>
            </li>
        {% endfor %}
        </ul>
    </select>
    <input type="hidden" name="foldersId" value="{{ foldersId }}}"/>
    <input type="hidden" name="currentFolderId" value="{{ folderId }}}"/>
    <input type="submit" value="Ok"/>
</form>