{% extends "TimeBoxMainBundle::layout.html.twig" %}

{% block container %}

    <table id="tbVersions" class="file">
        <thead>
            <tr>
                <td colspan="3"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Versions</th>
                <th>Size</th>
                <th>Last Edit</th>
            </tr>
            {% for version in versions %}
            <tr>
                <td>{{version.displayId}}</td>
                <td>{{version.size}}</td>
                <td>{{ version.date|date('Y/m/d H:i') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}